<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} Home {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
{% include "nav2.html" %}

<div class="container">
    <form method="POST">
        <div class="form-group">
            <h1 style="margin-top: 5% ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><center>Search</center></h1>
            <div class="row">
                <div class="col-4">
                    <label for="calories" style="font-size: 30px; margin-top: 5%;">Target calories(per day)</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="calories" name="calories" style="margin-top: 4%;margin-left: 0px;width: 650px; margin-bottom:10%;" required>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="excIng" style="font-size: 30px; margin-top: 5%;">Ingredients to exclude</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="excIng" name="excIng" style="margin-top: 4%;margin-left: 0px;width: 650px; margin-bottom:10%;" required>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="diet" style="font-size: 30px; margin-top: 5%;">Diet</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="diet" name="diet" style="margin-top: 4%;margin-left: 0px;width: 650px; margin-bottom:10%;" required>
                </div>
            </div>
            <button type="submit" style="margin-left: 95%; height: 50px; width: 100px;">Search</button>
        </div>
    </form>
 </div>

{% if meals %} 
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[0]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[0]}}</center></h3></div>
                </div>
            </div>  
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[1]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>  {{titles[1]}}</center></h3></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[2]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[2]}}</center></h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[3]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[3]}}</center></h3></div>
                </div>
            </div>  
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[4]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>  {{titles[4]}}</center></h3></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[5]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[5]}}</center></h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[6]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[6]}}</center></h3></div>
                </div>
            </div>  
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[7]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>  {{titles[7]}}</center></h3></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[8]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[8]}}</center></h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[9]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[9]}}</center></h3></div>
                </div>
            </div>  
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[10]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>  {{titles[10]}}</center></h3></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[11]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[11]}}</center></h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[12]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[12]}}</center></h3></div>
                </div>
            </div>  
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[13]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>  {{titles[13]}}</center></h3></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[14]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[14]}}</center></h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[15]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[15]}}</center></h3></div>
                </div>
            </div>  
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[16]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>  {{titles[16]}}</center></h3></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[17]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[17]}}</center></h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[18]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[18]}}</center></h3></div>
                </div>
            </div>  
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[19]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>  {{titles[19]}}</center></h3></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[20]}} width="400px" height="500px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center>{{titles[20]}}</center></h3></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</html>