<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} Home {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    {% include "nav.html" %}
    <h1 style="margin-top: 10% ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><center>Search Recipes by Name</center></h1>
 <hr class="hr" />
 <div class="row" style="margin-top: 50px;">
     <div class="col-6">
         <div class="card" style="background-color:#FBF5EF; margin-left: 5%;">
         <img src="" class="card-img" style="height: 435px;">
         </div>
     </div>
     <div class="col-6">
         <h3><center></center></h3>
         <p style="margin-left: 3%;font-size: 25px;">If you are looking for recipes for particular diets like vegan, vegetarian, pescetarian or looking to cook with what you have or looking for recipes that does not have certain ingredients, this is your stop!
              <br><h6 style="margin-left: 14px;font-size: 20px;">You could leave the fields blank if you do not have anything to include or exclude.Examples to search for</h6><ul>
              <li style="font-size: 18px;">Ingredients to include: eggs, bread</li>
              <li style="font-size: 18px;">Ingredients to exclude: peanuts </li>
              <li style="font-size: 18px;"> Diet: Vegan </li>
     </div>
 </div>
 <div class="container">
    <form method="POST">
        <div class="form-group">
            <h1 style="margin-top: 5% ; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><center>Search</center></h1>
            <div class="row">
                <div class="col-4">
                    <label for="Incingredients" style="font-size: 30px; margin-top: 5%;">Ingredients to include</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="Incingredients" name="Incingredients" style="margin-top: 4%;margin-left: 0px;width: 650px; margin-bottom:10%;" >
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="Excingredients" style="font-size: 30px; margin-top: 5%;">Ingredients to exclude</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="Excingredients" name="Excingredients" style="margin-top: 4%;margin-left: 0px;width: 650px; margin-bottom:10%;" >
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="diet" style="font-size: 30px; margin-top: 5%;">Diet</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="diet" name="diet" style="margin-top: 4%;margin-left: 0px;width: 650px; margin-bottom:10%;" >
                </div>
            </div>
            <button type="submit" style="margin-left: 95%; height: 50px; width: 100px;">Search</button>
        </div>
    </form>
 </div>

{% if cards %} 
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[0]}} width="500px" height="600px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center> {{titles[0]}} </center></h3></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[1]}} width="500px" height="600px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center> {{titles[1]}} </center></h3></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow-sm">
                <img class="card-img-top" src={{cards[2]}} width="500px" height="600px"/>
                <div class="card-body">
                <div class="card-title"><h3 style="color: #3F3B3B; font-family: sans-serif;"><center> {{titles[2]}} </center></h3></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</body>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
