<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} Home {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

{% include 'nav.html' %}

<h1 style="margin-top: 4% ; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-decoration:underline;text-decoration-style:double ;"><center>SIGN UP</center></h1>
 <hr class="hr" />
<div class="container" style="margin-top:5%">
    <form action="#" method="post">
        <div class="form-group" style="margin-top: 15px;margin-bottom: 10px;">
            <label for ="firstname">First Name</label>
            <input type="text" name="firstname" style="margin-left: 5%;">
        </div>
        <div class="form-group" style="margin-top: 15px;margin-bottom: 10px;">
            <label for ="lastname">Last Name</label>
            <input type="text" name="lastname" style="margin-left: 5%;">
        </div>
        <div class="form-group" style="margin-top: 15px;margin-bottom: 10px;">
            <label for ="email">Email Address</label>
            <input type="email" name="email" style="margin-left: 3%;">
        </div>
        <div class="form-group" style="margin-top: 15px;margin-bottom: 10px;">
            <label for="password">Password</label>
            <input type="password" name="password" style="margin-left: 6%;"/>
        </div>
    <button type="submit" class="btn btn-decors" value="save" style="margin-top: 2% ">Submit</button>
    <style>.btn-decors {background-color: #fae5b6;border: 1px solid #392905;border-radius: 20px;} </style>
  </form>
</div>